

body {
    font-family: Georgia, sans-serif;
    flex: wrap;
}

Nav {
    background-color: rgb(90, 168, 231);
    color: black;
    padding: 20px;
    border-bottom: 10px, blue, solid;
    margin-bottom: 5px;
    font-size: x-large;
    text-align: center;
}

header {
    background-color: azure;
    color:black;
    padding: 5px;
    border: 2px, black, solid;
    margin: 5px;
}

button {
    background-color: gray;
    padding: 2px;
    color: black;
    margin-top: 15px;
    margin-bottom: 25px;
    
 
}

#question-screen-container {
    background-color: cadetblue;
    color:black;
    margin: 25px;
    font-size: large;
}