

body {
    background-color: rgb(119, 245, 201);
    font-family: Georgia, sans-serif;
    flex: wrap;
}

Header {
    background-color: rgb(90, 168, 231);
    color: black

Header h1 {
    font-size
}
   
}
#start {
    background-color: red
    
}

h1 {
    font-size: small;
    
}

h2 {
    font-size: medium;
    
}